# Compilados de Maven / Gradle
target/
build/
*.class

# Entorno de desarrollo IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Otros IDEs (Eclipse / VS Code / NetBeans)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs y bases de datos locales
*.log
*.sqlite

# Sistema operativo
.DS_Store
Thumbs.db